.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    border-radius: 2px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(255, 255, 255, 0.9);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

text {
    pointer-events: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x {
  display: none;
}

.labels {
   font: 12px sans-serif;
   fill: #000000;
   alignment-baseline: middle;
}

.boxes {
    stroke: #000000;
    rx: 2;
    ry: 2;
    fill-opacity: 0.5;
}

.ganttboxes {
    stroke: #000000;
    fill: #000000;
    fill-opacity: 0.2;
    stroke-opacity: 0;
    rx: 2;
    ry: 2;
}

.epicboxes {
  fill-opacity: 0;
  rx: 2;
  ry: 2;
}

.tooltip tr {
    color: #000
}

.epictable tr {
    color: #000
}
